################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Talabat.Solution/FileContentIndex/e76a0858-35f2-47c5-9bec-f85fbb216579.vsidx
/.vs/Talabat.Solution/FileContentIndex/04c2d900-f8e1-4c34-97a8-542098973545.vsidx
