################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Talabat.Solution/FileContentIndex/e76a0858-35f2-47c5-9bec-f85fbb216579.vsidx
/.vs/Talabat.Solution/FileContentIndex/04c2d900-f8e1-4c34-97a8-542098973545.vsidx
/.vs/Talabat.Solution/FileContentIndex/38e36c69-2d83-4c11-aa70-6021a7207912.vsidx
/.vs/Talabat.Solution/FileContentIndex/694cbb32-419c-48b5-ad2a-dd9bf84df351.vsidx
/.vs/Talabat.Solution/FileContentIndex/9b95a7dc-dd11-4dee-927a-5bd31b863bfb.vsidx
/.vs/Talabat.Solution/FileContentIndex/b69cd8c4-ec81-46ca-92c6-36127f2c1c81.vsidx
/.vs/Talabat.Solution/FileContentIndex/c6a9e1bd-4e27-4b7f-9126-71bc6b332414.vsidx
/.vs/Talabat.Solution/FileContentIndex/0aafdade-f975-4ddd-b979-29270e1292f1.vsidx
/.vs/Talabat.Solution/FileContentIndex/ba73b7db-6265-45c5-b619-b6dea02005ef.vsidx
